@use "~/abstracts" as *;

.hero {
  height: 80vh;


  .intro {
    display: flex;
    flex-direction: column;

    gap: space(4);
    position: absolute;
    width: 20vw;
    bottom: 20%;
    right: 60%;
  }

  figure {
    width: 30vw;
    position: absolute;
    bottom: 50%;
    right: 40%;
    transform: translate(50%, 50%);

    .main {
      width: 100%;
      border-bottom-left-radius: $radius;
    }

    .side {
      position: absolute;
      height: 40%;
      left: 0;
      top: space(5);
      transform: translate(-90%, 0)
    }
  }

  .rectangle {
    @include rectangle(40%, 100%, $color-details);
    top: 0;
    right: 0;
    border-bottom-left-radius: $radius;
  }
}