@use "~/abstracts" as *;

footer {
  background-color: $color-details;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: space(15);
  gap: space(6);
  color: white;
  text-align: center;
  position: relative;

  &.margined {
    margin-top: space(40);

    &::before {
      @include rectangle(20%, 5px, $color-text);
      content: '';
      top: space(-30);
      left: 0;
    }
  }

  .logo {
    width: 150px;
  }

  .social-networks {
    display: flex;
    gap: space(10);
  }
}