@use "~/abstracts" as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: space(4) space(10);
  
  .logo {
    font-family: $font-logo;
    font-size: 5rem;
    color: #3B565C;
  }

  nav {
    display: flex;
    gap: space(10);
    color: $color-details;
    font-size: 1.25rem;
  }
}