
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Kdam+Thmor+Pro&family=Mate:ital@0;1&family=Monda:wght@700&family=Orbitron:wght@700&display=swap');

$font-logo: "Island Moments";
$font-main: "Belleza";
$font-secondary: "Mate";

