/* _________________FUNCTIONS_________________ */

@function space($size) {
  @return $size * 5px;
}

/* _________________MIXINS_________________ */

@mixin rectangle($width, $height, $color, $rotation: 0deg) {
  width: $width;
  height: $height;
  transform: rotate($rotation);
  background-color: $color;

  position: absolute;
}

@mixin square($size, $color, $rotation: 0deg) {
  @include rectangle($size, $size, $color, $rotation);
}

@mixin circle($ray, $color) {
  @include square($ray, $color);
  border-radius: 100%;
}