@use "~/abstracts" as *;

a {
  text-decoration: none;
}

button {
  background-color: $color-important;
  border: none;
  width: fit-content;
  padding: space(4) space(5);
  font-family: $font-main;
  cursor: pointer;
}