@use "~/abstracts" as *; 

.leaf {
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

.card {
  padding: space(6);
  background-color: $color-base;
  display: flex;
  flex-direction: column;
  gap: space(4);

  &.normal {
    background-color: $color-normal;
  }
  
  &.variant {
    background-color: $color-clear-details;
  }

  &.bordered {
    border: $color-details 3px solid;
  }
}