@use "~/abstracts" as *;

.about-me {

  .about {
    display: flex;
    align-items: end;

    img {
      width: 20vw;
    }

    .text {
      padding: space(6);
      display: flex;
      flex-direction: column;
      gap: space(4);
    }

    &::before {
      content: '';
      @include rectangle(80%, 250px, $color-clear-details);
      top: 0;
      left: 0;
      z-index: -1;
      border-top-right-radius: $radius;
    }

    &::after {
      content: '';
      @include rectangle(400px, 5px, $color-important);
      top: 200px;
      right: 10%;
      z-index: -1;
    }
  }

  .specialities {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: space(10);

    .portraits {
      display: flex;
      gap: space(10);

      .portrait {
        display: flex;
        flex-direction: column;
        gap: space(6);
        align-items: center;

        .circle {
          @include circle(150px, $color-important);
          position: relative;
        }
      }
    }
  }

  .footer-banner {
    width: 100%;
  }
}